{% extends 'main.html' %}

{% block title %}CodersEnsemble{% endblock title %}

{% block main %}
<div class="hero-section">
    <div class="hero-content">
        <div class="intro">
            <h2>Meet, Learn, and Colaborate with Peers on Projects</h2>
            <p>Unleash your coding potential, join <span class="span">CodersEnsemble</span>  today! Collaborate in
            perfect harmony. <br> You are a click away from learning with your peers.</p>
        </div>
        <div class="hero-cta">
            <a href="{{ url_for('auth.sign_up')}}">
                <button class="cta-btn">Get Started</button>
            </a>
        </div>
    </div>
    <div class="hero-img">
    </div>
    
</div>
<section id="achieve">
    <div class="section-header">
        <h2>Achieve More from this Platform</h2>
    </div>
    <div class="services">
        <div id="coding-colab">
        </div>
        <div id="learning">

        </div>
        <div class="forums">

        </div>
    </div>
        
</section>



<!--

    <img src="{{ url_for('static', filename='img/sign-up.jpg') }}" alt="People collaborating concept">
<div class="reviews">
    <div class="review">
        <p>
            <span><img src="{{ url_for('static', filename='img/user.jpg') }}"></span>
            <span>Alice M:</span>
        </p>

        <p>CodersEnsemble has some great features, like the diverse range of projects and the ability to network with
            other coders.</p>
    </div>


    <div class="review">
        <p>
            <span><img src="{{ url_for('static', filename='img/user.jpg') }}"></span>
            <span>John S:</span>
        </p>
        <p>Perfect for beginners! Supportive community, excellent resources, and beginner-friendly projects have boosted
            my confidence and knowledge.</p>
    </div>
    <div class="review">
        <p>
            <span><img src="{{ url_for('static', filename='img/user.jpg') }}"></span>
            <span>David L:</span>
        </p>
        <p>Great features and useful collaboration tools, but needs better project management and matchmaking. Promising
            platform with room for improvement.</p>
    </div>
-->
</div>
{% endblock main %}