<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <div>
        <nav class="navbar">
            <h2>CodersEnsemble</h2>
            {% if current_user.is_authenticated %}
            <a href="{{ url_for('main.display_profile')}}">
                <button class="btn">Profile</button>
            </a>
            {% endif %}
            <p>We're testing this!</p>
            {% if current_user.is_authenticated %}
                <form action="{{ url_for('auth.logout') }}" method="POST" style="display:inline;">
                    <button type="submit" class="logout">Logout</button>
                </form>
            {% else %}
               <a href="{{ url_for('auth.login') }}">
                    <button class="login">Login</button>
               </a> 
            {% endif %}
        </nav>
    </div>
    

    {% block main %}{% endblock main %}
    {% block script %}
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    {% endblock script%}
          
</body>
</html>